{% extends "login_base.html" %}
{% load i18n static %}

{%block title%}
    Password Reset Confirm
{%endblock%}

{% block content %}

{% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <input class="hidden" autocomplete="username" hidden value="{{ form.user.get_username }}">
    <div class="msg fadeIn fifth" style="color: red;">{{ form.new_password1.errors }}</div>
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
        <div class="msg fadeIn fifth" style="color: red;">{{ form.new_password2.errors }}</div>
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
        
        {% if form.new_password1.help_text %}
        <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
    <input type="submit" value="{% translate 'Change my password' %}">
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}



{%block footer%}
    <a href="{%url 'login'%}" class="underlineHover"><i class="fas fa-arrow-circle-left"></i> Back to login</a>
{%endblock%}