.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #89c77e, #3f8255);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.required:after {
    content:" *";
    color: red;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;  
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 100%;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #89c77e, #3f8255);
    color: #fff;
}
.btnSaveEdit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 40%;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #89c77e, #3f8255);
    color: #fff;
}
.btnBook
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 25%;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #89c77e, #3f8255);
    color: #fff;
}
a {
    color: #3f8255;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}
/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #3f8255;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}
