div.scrollmenu a:hover {
    background-color: #89c77e !important;
}
div.scrollmenu {
  background-color: #89c77e;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #3f8255;
    content: "";
    transition: width 0.2s;
}

div.scrollmenu a:hover{
    color: #0d0d0d;
}

div.scrollmenu a:hover:after {
    width: 100%;
}

div.scrollmenu a {
  display: inline-block;
  color: #ffffff;
  padding: 14px;
  text-decoration: none;
}


div.scrollmenu a.active {
  background-color: #3f8255;
}

div.scrollmenu a.active:hover {
  background-color: #3f8255;
}